html {
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, lightblue , lightgreen);
  font-family: 'Courier New', Courier, monospace;
}
.heading{
  color:blue;
  font-size:35px;
  text-align: center;
  padding-top:10px;
}
.info-text{
  color: darkblue;
  font-size: 18px;
  text-align: center;
  
}
.app{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  justify-content: center;
  padding: 50px;
}
